# Exercise 1.2 Scaling Dataframe

## Index
### Importing Data and Libraries
### Change Date and Month types
### StandardScaler
### MinMaxScaler
### RobustScaler

## Importing data and libraries

In [47]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

In [3]:
path = r'C:/Users/Jack Bartman/OneDrive/CareerFoundry/Machine Learning'

In [5]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Dataset-weather-prediction-dataset-processed.csv'))

In [7]:
df.dtypes

DATE                     int64
MONTH                    int64
BASEL_cloud_cover        int64
BASEL_wind_speed       float64
BASEL_humidity         float64
                        ...
VALENTIA_snow_depth      int64
VALENTIA_sunshine      float64
VALENTIA_temp_mean     float64
VALENTIA_temp_min      float64
VALENTIA_temp_max      float64
Length: 170, dtype: object

In [9]:
df.head()

,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,0.7,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,1.1,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,0.0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,4.1,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,5.4,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4

## Change Date and Month Types

In [11]:
df.rename(columns={'DATE':'intDATE'}, inplace=True)

In [13]:
df.head()

,intDATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,0.7,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,1.1,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,0.0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,4.1,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,5.4,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4

In [15]:
df['DATE'] = pd.to_datetime(df['intDATE'].astype(str), format='%Y%m%d')

In [17]:
df.head()

,intDATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max,DATE
0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,0.7,...,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9,1960-01-01
1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,1.1,...,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1,1960-01-02
2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,0.0,...,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9,1960-01-03
3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,4.1,...,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6,1960-01-04
4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,5.4,...,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4,1960-01-05

In [19]:
df = df.drop('intDATE', axis=1)

In [21]:
df.head()

,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,BASEL_temp_mean,...,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max,DATE
0,1,7,2.1,0.85,1.018,0.32,0.09,0,0.7,6.5,...,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9,1960-01-01
1,1,6,2.1,0.84,1.018,0.36,1.05,0,1.1,6.1,...,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1,1960-01-02
2,1,8,2.1,0.90,1.018,0.18,0.30,0,0.0,8.5,...,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9,1960-01-03
3,1,3,2.1,0.92,1.018,0.58,0.00,0,4.1,6.3,...,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6,1960-01-04
4,1,6,2.1,0.95,1.018,0.65,0.14,0,5.4,3.0,...,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4,1960-01-05

In [23]:
df['MONTH'] = df['MONTH'].astype('str')

In [25]:
df.head()

,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,BASEL_temp_mean,...,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max,DATE
0,1,7,2.1,0.85,1.018,0.32,0.09,0,0.7,6.5,...,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9,1960-01-01
1,1,6,2.1,0.84,1.018,0.36,1.05,0,1.1,6.1,...,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1,1960-01-02
2,1,8,2.1,0.90,1.018,0.18,0.30,0,0.0,8.5,...,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9,1960-01-03
3,1,3,2.1,0.92,1.018,0.58,0.00,0,4.1,6.3,...,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6,1960-01-04
4,1,6,2.1,0.95,1.018,0.65,0.14,0,5.4,3.0,...,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4,1960-01-05

## StandardScaler

In [29]:
scaler = StandardScaler()

In [37]:
cols = df.columns[df.columns != 'DATE']

In [41]:
#Create a new df with scaled data
df_stdscaled = pd.DataFrame(scaler.fit_transform(df[cols]))
df_stdscaled.head()

,0,1,2,3,4,5,6,7,8,9,...,159,160,161,162,163,164,165,166,167,168
0,-1.599964,0.660514,-0.02793,0.826097,-0.001949,-1.101066,-0.265148,-0.179228,-0.902918,-0.528623,...,-0.443701,0.761754,-1.299744,-0.806427,-0.088407,-0.024706,0.372147,-0.668215,-0.519743,-0.752237
1,-1.599964,0.244897,-0.02793,0.735760,-0.001949,-1.058108,1.658760,-0.179228,-0.810126,-0.582946,...,0.783085,1.183580,-1.262455,-1.042055,0.503361,-0.024706,-0.829285,-0.548046,-0.629054,-0.407141
2,-1.599964,1.076130,-0.02793,1.277781,-0.001949,-1.251420,0.155707,-0.179228,-1.065304,-0.257010,...,0.783085,1.183580,-0.432779,-1.136306,-0.396127,-0.024706,-1.009500,-0.067372,0.054135,-0.177078
3,-1.599964,-1.001953,-0.02793,1.458455,-0.001949,-0.821838,-0.445514,-0.179228,-0.114186,-0.555784,...,0.783085,0.480538,0.387574,-1.183432,0.669056,-0.024706,-1.039536,-0.998679,-0.164486,-0.838511
4,-1.599964,0.244897,-0.02793,1.729466,-0.001949,-0.746661,-0.164944,-0.179228,0.187388,-1.003946,...,-1.670486,-0.363113,1.729970,-0.794645,-0.490810,-0.024706,0.672505,-1.509396,-1.339569,-1.471186

In [34]:
# Compare the original vs. scaled data

df.head()

,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,0.7,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,1.1,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,0.0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,4.1,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,5.4,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4

In [45]:
# Export dataframe as a csv file
df_scaled.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Dataset_stdscaled.csv'))

## MinMaxScaler

In [51]:
scaler = MinMaxScaler()

In [53]:
#Create a new df with scaled data
df_MMscaled = pd.DataFrame(scaler.fit_transform(df[cols]))
df_MMscaled.head()

,0,1,2,3,4,5,6,7,8,9,...,159,160,161,162,163,164,165,166,167,168
0,0.0,0.875,0.128834,0.769231,0.614184,0.068132,0.010588,0.039216,0.041667,0.524109,...,0.625,0.806452,0.495614,0.108586,0.003778,0.0,0.297468,0.442804,0.496269,0.414716
1,0.0,0.750,0.128834,0.753846,0.614184,0.076923,0.123529,0.039216,0.065476,0.515723,...,0.875,0.854839,0.500000,0.058081,0.009333,0.0,0.044304,0.457565,0.481343,0.454849
2,0.0,1.000,0.128834,0.846154,0.614184,0.037363,0.035294,0.039216,0.000000,0.566038,...,0.875,0.854839,0.597588,0.037879,0.000889,0.0,0.006329,0.516605,0.574627,0.481605
3,0.0,0.375,0.128834,0.876923,0.614184,0.125275,0.000000,0.039216,0.244048,0.519916,...,0.875,0.774194,0.694079,0.027778,0.010889,0.0,0.000000,0.402214,0.544776,0.404682
4,0.0,0.750,0.128834,0.923077,0.614184,0.140659,0.016471,0.039216,0.321429,0.450734,...,0.375,0.677419,0.851974,0.111111,0.000000,0.0,0.360759,0.339483,0.384328,0.331104

In [55]:
# Export dataframe as a csv file
df_scaled.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Dataset_MMscaled.csv'))

## RobustScaler

In [58]:
scaler = RobustScaler()

In [60]:
#Create a new df with scaled data
df_Rscaled = pd.DataFrame(scaler.fit_transform(df[cols]))
df_Rscaled.head()

,0,1,2,3,4,5,6,7,8,9,...,159,160,161,162,163,164,165,166,167,168
0,-1.2,0.333333,0.0,0.5000,0.0,-0.529412,0.409091,0.0,-0.386667,-0.365217,...,-0.5,0.750,-1.208696,-0.400000,0.15,0.0,0.302326,-0.523810,-0.452381,-0.590909
1,-1.2,0.000000,0.0,0.4375,0.0,-0.503268,4.772727,0.0,-0.333333,-0.400000,...,0.5,1.125,-1.173913,-0.553846,1.40,0.0,-0.627907,-0.428571,-0.547619,-0.318182
2,-1.2,0.666667,0.0,0.8125,0.0,-0.620915,1.363636,0.0,-0.480000,-0.191304,...,0.5,1.125,-0.400000,-0.615385,-0.50,0.0,-0.767442,-0.047619,0.047619,-0.136364
3,-1.2,-1.000000,0.0,0.9375,0.0,-0.359477,0.000000,0.0,0.066667,-0.382609,...,0.5,0.500,0.365217,-0.646154,1.75,0.0,-0.790698,-0.785714,-0.142857,-0.659091
4,-1.2,0.000000,0.0,1.1250,0.0,-0.313725,0.636364,0.0,0.240000,-0.669565,...,-1.5,-0.250,1.617391,-0.392308,-0.70,0.0,0.534884,-1.190476,-1.166667,-1.159091

In [62]:
# Export dataframe as a csv file
df_scaled.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Dataset_Rscaled.csv'))